/* ===========reset=========== */
@import url("https://webfontworld.github.io/SCoreDream/SCoreDream.css");
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: normal;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  border: none;
}

/*fontAwesome SCoreDream*/
/*google WEB FONT Inika*/
/*google WEB FONT IM Fell Great Primer*/
/*Font Family*/
/*Font Size*/
/*Font Weight*/
/* Setting Variables : Object Color */
/* Setting Variables : Text Color */
.sidePJ {
  width: 100%;
  height: 100vh;
  background: url(../img/sizzlingBG.png), radial-gradient(farthest-corner at 250px 30px, #d6e6ef 0%, #badbfa 60%, #bfd3f2 100%);
  background-blend-mode: color-burn;
  background-size: cover;
}
.sidePJ .sidePJ_inner {
  height: inherit;
  padding-top: 7.5rem;
}
.sidePJ .sidePJ_inner .sidePJWrap {
  width: inherit;
  height: 670px;
  display: grid;
  gap: 2rem;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox p {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding-left: 1rem;
  background: #00025c;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.25s;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox p:hover {
  color: #fff598;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox .pjBtn_wrap {
  width: fit-content;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox .pjBtn_wrap a {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #393939;
  color: #ffffff;
  text-align: center;
  font-size: 0.875rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1450980392);
  transition: 0.3s;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox .pjBtn_wrap a.gitHubBtn {
  padding-top: 1rem;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox .pjBtn_wrap a.demoBtn {
  line-height: 60px;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox .pjBtn_wrap a:hover {
  background: #00025c;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox.box01 {
  grid-column: 1/5;
  grid-row: 1/4;
  background: url(../img/sidmool_thumnail.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox.box02 {
  grid-column: 5/11;
  grid-row: 1/4;
  background: url(../img/class101_thumnail.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox.box02::after {
  content: "";
  width: 43px;
  height: 54px;
  background: url(../img/sidePJ_click.svg);
  position: absolute;
  top: 125px;
  right: 0px;
  animation: sideInduction 1.5s infinite;
}
@keyframes sideInduction {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox.box03 {
  grid-column: 11/14;
  grid-row: 1/5;
  background: url(../img/todolist_thumnail3.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox.box04 {
  grid-column: 1/7;
  grid-row: 4/7;
  background: url(../img/unready_thumnail.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox.box05 {
  grid-column: 7/11;
  grid-row: 4/7;
  background: url(../img/weather_thumnail.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox.box06 {
  grid-column: 11/14;
  grid-row: 5/7;
  background: url(../img/contact_thumnail.png) no-repeat;
  background-size: cover;
  background-position: -5px center;
}
.sidePJ .sidePJ_inner .sidePJWrap .sideBox:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3137254902);
}