@import "reset", "font", "variable";

.skill_title {
  width: 100%;
  height: 100vh;
  background: url(../img/section_titleBG.png) center / cover no-repeat;
  .skill_title_inner {
    height: inherit;
    position: relative;
    .skill_title_contentsWrap {
      width: fit-content;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .number_wrap {
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin: auto;
        .number {
          width: 110px;
          margin: auto;
          animation: numAni 2s infinite linear;
          @keyframes numAni {
            0% {
              transform: translateY(0);
            }
            25% {
              transform: translateY(5px);
            }
            50% {
              transform: translateY(0);
            }
            75% {
              transform: translateY(-5px);
            }
            100% {
              transform: translateY(0);
            }
          }
        }
        .title_wave {
          width: 150px;
          margin-top: 2rem;
          margin-bottom: 4.5rem;
        }
      }
      .skill_title_text {
        width: fit-content;
        .title_animation {
          &.title_ani_active {
            animation: titleFill 2s linear forwards;
            @keyframes titleFill {
              0% {
                r: 100px;
              }
              20% {
                r: 200px;
              }
              40% {
                r: 300px;
              }
              60% {
                r: 400px;
              }
              80% {
                r: 500px;
              }
              100% {
                r: 600px;
              }
            }
          }
        }
      }
    }
  }
}
